*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#icons{
    display: flex;
    padding-left: 50px;
    padding-top: 12px;
    gap: 20px;
    align-items: center;
}

span{
    font-size: 25px;
    color: rgb(100, 100, 100);
    padding-top: 0px;
    margin: 0%;
}
   

#icons-2{
    display: flex;
    padding-left: 50px;
    padding-top: 12px;
    gap: 20px;
    align-items: center;
     font-size: 20px;
    color: rgb(100, 100, 100);
    padding-top: 5px;
    margin-left: 5px;
    flex-direction: right;
}